body{
    font-family: 'Ubuntu', sans-serif;
}


.footer{
    line-height: 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: #6D929B;
    padding: 1rem;
    color: #F5FAFA;
}

/*  nav */
/* change the background color */
.bg-light {
    background-color: #6D929B!important;
   
}
/* change text color */
.navbar-light .navbar-brand  {
    color: #F5FAFA;
}
.nav-item{
    color: #F5FAFA!important;
}

/* page intro */

.jumbotron{
    background-image: url('../img/books-.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #6D929B;
    font-weight: bold;
    border-radius: .5rem;
    
}
.lead{
    margin-right: 8%;
}

.searchbar{
   
    background: transparent;
    border-radius: .5rem;
    color: #6D929B; 
    font-weight: bold;   
}
.searchbutton{
    opacity: .7;
    border-radius: .3rem;    
}

/* card styling */
.card{
    color: #6D929B;
    font-size: .9rem;
    border-color: #E8D0A9;
    border-radius: .5rem;
}
.card-header{
    border-color: #E8D0A9;
    background-color: #C1DAD6;
}
.review-title{
    color: #B7AFA3
}
.btn-info{
    background-color: #6D929B;;
}
.btn{
    border-color: #E8D0A9;
    font-size: .75rem;
    border-radius: .5rem
}
.btn:hover {
    background-color: #E8D0A9;
    border-color: #E8D0A9;
}
hr{
    border-color: #E8D0A9;
}
.fa {
    color: #E8D0A9;
    font-size: 1.5rem;
}
.upvote{
    color: #E8D0A9;
    font-size: 1rem;
    margin-top: .5rem;
}
.amazon{
    font-size: .75rem;
}

/* Pagination links  */
.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

/* delete modal */
.modal-content{
    color: #6D929B;
    background-color: #fff;
    border-radius: .5rem;
}
.modal-header{
    border-bottom-color: #E8D0A9;
}
.modal-footer{
    border-top-color: #E8D0A9;
}

/* media queries */

@media (min-width: 576px) { 
    .lead{
        margin-right: 25%;
    }
 }

@media (min-width: 768px) { 
    .lead{
        margin-right: 33%;
    }
 }





