<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title> BookBites: {{ title }}</title>
    {% else %}
    <title>Welcome to BookBites!</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename="img/favicon.ico") }}" />


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><strong>BookBites</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto ">
                    
                    {% if session['logged'] == True %}
                    <a class="nav-item nav-link " href="{{ (url_for('my_reviews')) }}">My Reviews</a>
                    <a class="nav-item nav-link " href="{{ (url_for('sign_out')) }}">Sign Out</a>
                    {% else %}
                    <a class="nav-item nav-link " href="{{ (url_for('login')) }}">Login </a>
                    <a class="nav-item nav-link " href="{{ (url_for('register')) }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div style="height: 3rem; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-0.28,24.97 C194.41,62.47 271.49,-50.00 500.84,34.83 L500.00,0.00 L0.00,0.00 Z"
                    style="stroke: none; fill: #6d929b;"></path>
            </svg></div>
    </header>

    <main>
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="jumbotron jumbotron ">
                        <div class="container">

                            <h1 class=""> <strong>BookBites</strong>
                            </h1>
                            <p class="lead "><strong> Let's hear about your latest reads! <br>Give reviews a bites like!
                                    <br>
                                    Even write your own reviews on BookBites.</strong></p>
                        </div>
                        <div class="mt-4 ml-4"><br>

                            <form class="form-inline" action="{{ (url_for('search')) }}">
                                <div class="form-group ">


                                    <input class="form-control-sm mr-1 searchbar small" type="text"
                                        placeholder="Search Site" name="search">
                                    <button class="  mr-1 searchbar small mr-1" type="submit"><strong>Go!</strong></button>
                                </div>
                                <div class="form-group ">
                                    <label for="category" class="small mr-2"><strong>Filter By:</strong> </label>
                                    <select class="form-control-sm  mr-1 searchbar small" id="category" name="category">
                                        <option>none</option>
                                        <option>factual</option>
                                        <option>fiction</option>
                                        <option>science</option>
                                        <option>health</option>
                                    </select>

                                </div>
                            </form>
                        </div>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {% block content%}{% endblock %}
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div style="height: 4rem; overflow: hidden;">
            <!-- Generated by https://smooth.ie/blogs/news/svg-wavey-transitions-between-sections -->
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M-2.55,113.77 C150.00,150.00 352.99,14.10 502.54,107.85 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #6D929B;"></path>
            </svg>
        </div>
        <div class="footer">footer</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "></script>
</body>

</html>