{% extends 'base.html' %}
{% block content%}
{% for review in reviews %}
<!--looping through users reviews and displaying in bootstrap card-->
<div class="card mb-4">
    <div class="card-header"><span class="review-title "><strong>Reviewed By: </strong>
        </span><strong><i class="fa fa-user-circle" aria-hidden="true"></i> </strong> <span><strong> {{ review.username}}</strong> </span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-4"><span class="review-title "><strong>Author:</strong></span> <span
                    class="text-capitalize"> {{ review.author}} </span></div>
            <div class="col-12 col-md-4"><span class="review-title "><strong>Book Title:</strong></span> <span
                    class="text-capitalize"> {{ review.book_title }}</span></div>
            <div class="col-12 col-md-4"><span class="review-title"><strong>Book Category:</strong></span> <i
                    class="{{ review.icon}}" aria-hidden="true"></i> <span class="text-capitalize"> {{ review.category}}
                </span> </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12"><span class="review-title text-capitalize"><strong>Book
                        Summary:</strong></span><br><br>{{ review.summary }}</div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-10"><a class="btn btn-info" title="View Review"
                    href=" {{ url_for('review', id=review._id ) }} ">View Review</a></div>
            <div class="col-md-2"><span class="review-title">Bites:</span> <span
                    class="upvote">+{{ review.upvote }}</span></div>
        </div>
    </div>
</div>

{% endfor %}
<!--option to add a new review-->
<div class="row mb-4">
    <div class="col-12"><a href=" {{ (url_for('add_review')) }} " class="btn btn-info">Add New Review</a></div>
</div>
{% endblock %}