{% extends 'base.html' %}
{% block content%}

<div class="card mb-4">
    <div class="card-header reviewer"><span class="review-title "><strong>Reviewed By:</strong></span> <span class="text-capitalize"> {{ review.username}} </span></div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-4"><span class="review-title "><strong>Author:</strong></span>  <span class="text-capitalize"> {{ review.author}} </span></div>
            <div class="col-12 col-md-4"><span class="review-title "><strong>Book Title:</strong></span>  <span class="text-capitalize"> {{ review.book_title }}</span></div>
            <div class="col-12 col-md-4"><span class="review-title" ><strong>Book Category:</strong></span> <i class="{{ review.icon}}" aria-hidden="true"></i> <span class="text-capitalize"> {{ review.category}} </span> </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12"><span class="review-title text-capitalize"><strong>Book Summary:</strong></span><br>{{ review.summary }}</div>
            
        </div>
        <div class="row mt-2">
            <div class="col-12"><span class="review-title text-capitalize"><strong>Book Review:</strong></span><br>{{ review.review }}</div>          
        </div>
        <hr />
        <div class="row">           
            <div class="col-md-6 mb-2"><span class="review-title">Bites:</span> <span class="upvote">+{{ review.upvote }}</span> <a href="{{ url_for('upvote', id=review._id ) }} " > <i class="fa fa-book" aria-hidden="true"></i> </a><span class="small">click to add a BookBite</span>
            </div>
            <div class="col-md-6 mb-2"><a href="{{ review.amazon }} " class="btn btn-info" target = "_blank"  > Search Amazon </a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-12"><a href=" {{ (url_for('edit_review', id=review._id )) }} " class="btn btn-info">Edit Review</a></div>
</div>


{% endblock %}